<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/12.4/phpunit.xsd"
        colors="true"
        defaultTestSuite="changelanguage"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        beStrictAboutChangesToGlobalState="true"
>
    <php>
        <env name="KERNEL_CLASS" value="Terminal42\ChangeLanguage\Tests\Fixtures\app\AppKernel"/>
        <env name="DISABLE_HTTP_CACHE" value="1"/>
        <env name="APP_SECRET" value="foobar"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value=""/>
        <env name="DATABASE_URL" value="mysql://root@localhost:3306/changelanguage"/>
    </php>
    <testsuites>
        <testsuite name="changelanguage">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Contao\TestCase\ClearCachePhpunitExtension"/>
        <bootstrap class="Contao\TestCase\WarnXdebugPhpunitExtension"/>
    </extensions>
</phpunit>
