.header_switchLanguage {
    float: left;
    margin: 14px 0 0 15px;
}

.header_switchLanguage svg {
    float: left;
    width: 16px;
    height: 16px;
    padding-right: 8px;
    fill: var(--green);
}

.header_switchLanguage > span {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    cursor: auto;
}

.header_switchLanguage ul {
    position: absolute;
    left: 50%;
    display: none;
    min-width: 100px;
    margin: 10px 12px 0 0;
    padding: 10px 15px;
    text-align: left;
    background: var(--content-bg);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    z-index: 9;
    transform: translateX(-50%);
    list-style: none;
}

.header_switchLanguage > span:hover ul {
    display: block;
}

.header_switchLanguage ul:after, .header_switchLanguage ul:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.header_switchLanguage ul:after {
    border-bottom-color: var(--content-bg);
    border-width: 5px;
    margin-left: -5px;
}

.header_switchLanguage ul:before {
    border-bottom-color: var(--border);
    border-width: 6px;
    margin-left: -6px;
}

.header_switchLanguage li {
    padding: 3px 0;
    white-space: nowrap;
}

.header_switchLanguage a {
    display: block;
}

.header_switchLanguage a:before {
    content: "› ";
}
