.header_switchLanguage {
    float: left;
    margin: 2px 0 0 12px;
}

.header_switchLanguage svg {
    float: left;
    width: 16px;
    height: 16px;
    padding-right: 8px;
    fill: #589b0e;
}

.header_switchLanguage > span {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.header_switchLanguage ul {
    position: absolute;
    left: 50%;
    display: none;
    min-width: 100px;
    margin: 10px 12px 0 0;
    padding: 5px 10px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 99999999;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.header_switchLanguage > span:hover ul {
    display: block;
}

.header_switchLanguage ul:after, .header_switchLanguage ul:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.header_switchLanguage ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.header_switchLanguage ul:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 6px;
    margin-left: -6px;
}

.header_switchLanguage li {
    padding: 3px 0;
    white-space: nowrap;
}

.header_switchLanguage a {
    display: block;
}

.header_switchLanguage a:before {
    content: "› ";
}

html[data-color-scheme="dark"] .header_switchLanguage ul {
    background-color: #232529;
    border-color: #3f4146;
    list-style: none;
}

html[data-color-scheme="dark"] .header_switchLanguage ul:before,
html[data-color-scheme="dark"] .header_switchLanguage ul:after {
    border-bottom-color: #3f4146;
}
